<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
<% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
     
  <% end %>
  
  <% if current_user.admin? && !current_user?(user) && user.admin != true%>
    | <%= link_to "make admin", approve_user_path(user) , method: :post, data: { confirm: "Do you really want to make them an admin??"}%>
  <% end %>

   <% if current_user.admin? && !current_user?(user) && user.admin == true%>
    | <%= link_to "remove as admin", decline_user_path(user) , method: :post, data: { confirm: "Do you really want to remove them as an admin??"}%>
  <% end %>

</li>



