<div class="row reply">
  <div class="col-sm-6 col-md-8">
  	<div class="caption center"><h5><%= picture.name %></h5></div>
    <div class="thumbnail">
      <%= image_tag( picture.image_url.to_s, size: "180x120", id: "editimage#{picture.id}") %>
      <div class="caption">
      	
  <span class="content "><%= picture.description %></span>
        <% if current_user?(picture.user) %>
   <div class="center"> <%= link_to "delete", picture, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: picture.name %> |
    <%= link_to "edit", '#' %>

<p><input type='image' src='http://images.aviary.com/images/edit-photo.png' value='Edit photo' onclick="return launchEditor('editimage<%= picture.id %>', 'http://localhost:3000/pictures/sweetheart/1.jpg');" /></p>
   

  <% end %>
</div>
      </div>
    </div>
  </div>
</div>



